body {
  font-family: "Raleway", "roboto";
  font-weight: 400;
  color: black;
}

.main_buttons_select:hover,
.main_buttons_select:focus {
  /* color: #2196f3; */
  background-color: #2196f3;
  font-size: larger;
}
